
CONFIG_NVS_FLASH=y
CONFIG_ESP_NETIF=y
CONFIG_WIFI_PROV_ENABLED=y
CONFIG_WIFI_PROV_TRANSPORT_SOFTAP=y

# Route console output to the built-in USB-Serial-JTAG so logs appear over USB
CONFIG_ESP_CONSOLE_UART_DEFAULT=n
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
